@import "fonts/fonts.css";

textarea{
	resize: none;
}

html, body{
	width: 100%;
	overflow-x: hidden;
	position: relative;
	margin:0;
	background: #ececec;
}
.modal {
  overflow-y:auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: norwester!important;
	letter-spacing: 1px;
}

.answer-me{
	margin: 0.6rem 0 0!important;
	height: 1.5rem!important;
}

.hide{
	display: none
}

.form-control{
	border: 1px solid #a2a1a1!important;
}
label{
	font-weight: bolder;
}

.sidebar .sidebar-wrapper {
	background: #7400bb;
}

#minimizeSidebar{
	background: #7400bb;
	border: 0px solid #ffffff!important
}

.nav-name{
	padding-top: 1.7rem;
}

button{
  outline: none;
}

#navbar{
  background-image: linear-gradient(#7400bb, #6930c3);
}

#navbar .navbar-brand{
  color: #ffffff;
}

#navbar .navbar-nav .nav-item .nav-link{
  color: #ffffff;
}

#navbar .input-group{
	    margin-top: 1.2rem;
}
#navbar button{
	    margin: unset;
}

#side{
	display: none
}

.mobile-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7400bb;
	z-index: 9999;
	overflow: hidden!important;
	display: none;
}

#footer{
	background-color: coral;
}

#footer .nav{
	background: transparent!important;
}

#footer .navbar .nav-item .nav-link, #footer .navbar .nav-item {
	color:white!important;
	font-size: 1.2rem;
	font-family:aleo;
}

#footer .navbar .nav-item .nav-link:hover{
	color:steelblue!important;
}

.footer
{
	color: white;
	font-family: norwester;
	font-size: 3rem;
	padding-top: 3%;
	border-bottom: 8px solid steelblue;
}
.footer-end{
	color: white;
	padding: 2%;
	font-family: norwester;
	font-size: 1.5rem;
}

/* ================================================= */

#q-exam-details{
	border-radius: 1rem;
  border-top: 1rem solid #7400bb;
}

#question{
	padding: 1rem 5rem;
}

.view-q{
	border-bottom: 2px solid #7400bb
}

.view-q h5{
	margin-bottom: 2px!important
}

.view-c{
	padding: 0.65rem;
}

.view-c h5{
	margin-bottom: 2px!important
}

.view-c-btn{
	width: 2rem;
    height: 2rem;
    background: #7400bb;
		padding: 4px;
    font-size: 1rem;
    border-radius: 4rem;
		color:white
}

.btn-save{
	width: 4rem;
  border-radius: 2rem;
  height: 4rem;
  font-size: 1.3rem!important;
  margin-right: 1rem;
}

.btn-cancel{
	width: 4rem;
  border-radius: 2rem;
  height: 4rem;
  font-size: 1.3rem!important;
  margin-left: 1rem;
	padding: 1rem!important
}

.question-main{
	padding: 1rem;
	border-radius: 1rem!important;
	border-left: 0.4rem solid #7400bb;
	position: relative;
}

.question-holder{
	margin-bottom: 1rem;
}

.round-btn{
	border-radius: 3rem
}

.buttons-div{
	padding: 1rem 1rem;
}

.button-div-actions{
	padding: 1rem 1rem;
}

.remove-btn{
	position: absolute;
	right: -34px;
	width: 3rem;
	top: -52px;
	height: 3rem;
}

.insert-choice{
	padding: 1rem 1rem
}
.choice-div{
	padding: 9px 0px;
}
.choice-letter-holder{
	padding: 9px 0px;
}
.btn-add{
	border-radius: 3rem;
	    font-size: 2rem!important;
	    width: 5rem;
	    height: 5rem;
}
.btn-add-div{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem;
}
/* ======================= */
#main{
	margin-top: 4rem;
}
